<div class="list-group mt-4 mx-5">
  <div class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Step 1</h5>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheck">
        <label class="form-check-label" for="flexCheckCheck">
          Done
      </label>
      </div>
    </div>
    <p class="mb-1">Fork the GitHub repo.
    </p>
    <small><a href=" https://github.com/OscarSantos98/portfolio-blazor-template/fork" target="_blank">You can do it
        directly
        from here</a>.</small>
  </div>
  <div class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Step 2</h5>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheck">
        <label class="form-check-label" for="flexCheckCheck">
          Done
        </label>
      </div>
    </div>
    <p class="mb-1">Open your Git repository in VS, VSCode or GitHub Codespaces.</p>
    <small class="text-muted">In your GitHub repository, click on &nbsp<button class="btn-github">&lt;&gt; Code
        ▼</button>&nbsp and choose either Local or Codespaces.</small>
  </div>
  <div class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Step 3</h5>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheck">
        <label class="form-check-label" for="flexCheckCheck">
          Done
      </label>
      </div>
    </div>
    <p class="mb-1">Replace your information in the resume.json file.</p>
    <small class="text-muted">Currently, the <a href="sample-data/resume.json" target="_blank">resume.json</a> is a static
      file, you could instead store this file in a NoSQL database and create an API to handle the requests.</small>
  </div>
  <div class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Step 4</h5>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheck">
        <label class="form-check-label" for="flexCheckCheck">
          Done
      </label>
      </div>
    </div>
    <p class="mb-1">Modify app.css to fit the template to your needs.</p>
    <small class="text-muted">Replace <a href="css/app.css" target="_blank">app.css</a></small>
  </div>
  <div class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Step 5</h5>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheck">
        <label class="form-check-label" for="flexCheckCheck">
          Done
        </label>
      </div>
    </div>
    <p class="mb-1">Deploy your app!</p>
    <small class="text-muted">If you have not chosen GitHub Codespaces to run your app, install Azure Static Web App extension or use Azure CLI to deploy this SPA, specifying the src folder.</small>
  </div>
</div>