<div class="bottom-row px-4">
    <span class="oi oi-bug" aria-hidden="true"></span>
    &nbsp<a href="https://github.com/OscarSantosMu/portfolio-blazor-template/issues/new/choose" target="_blank">Found an issue
        or have a suggestion?</a>
</div>