@inject IJSRuntime JSRuntime

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Portfolio</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @if (!allChecked)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>   
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="background" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Background
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="skills">
                <span class="oi oi-code" aria-hidden="true"></span> Skills
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="accomplishments">
                <span class="oi oi-flag" aria-hidden="true"></span> Accomplishments
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <span class="oi oi-fork" aria-hidden="true"></span> Projects
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private bool allChecked;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        var allCheckedStr = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "allChecked");
        allChecked = Convert.ToBoolean(allCheckedStr);
    }

}
