<div class="education">
    <h3>@data?.Name (@data?.DegreeYear)</h3>
    <h4>@data?.InstitutionName (@data?.DegreeYear)</h4>
    <div>@data?.Description</div>
</div>

@code {
    [Parameter]
    public EducationModel? data { get; set; }
}