<div class="experience">
    <h3>@data?.Title</h3>
    <h4>@data?.CompanyName</h4>
    <div class="resume-date text-md-right">
        <span class="text-primary">@data?.Tenure</span>
    </div>
    <div>@data?.Description</div>
</div>

@code {
    [Parameter]
    public ExperienceModel? data { get; set; }
}