@page "/"
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<PageTitle>Index</PageTitle>

<div class="about">
<h2>Hello, user!</h2>

Welcome to your new Portfolio app. In this home page you will find instructions to set up everything you need to use this template.
For local development, this page will be shown by default and will be hidden when all checkboxes are marked using local storage.
For production, this page will never be shown.
</div>

@if (!allChecked)
{
    <Instructions OnAllChecked="@HandleAllChecked"></Instructions>
}
else
{
    NavigationManager.NavigateTo("/background", forceLoad: true);
}

@code {
    private bool allChecked;

    private async Task HandleAllChecked(bool allChecked)
    {
        this.allChecked = allChecked;
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "allChecked", allChecked);
    }

    protected override async Task OnInitializedAsync()
    {
        var allCheckedStr = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "allChecked");
        allChecked = Convert.ToBoolean(allCheckedStr);
    }

}