@page "/"

<PageTitle>Index</PageTitle>

<div class="about">
<h2>Hello, user!</h2>

Welcome to your new Portfolio app. In this home page you will find instructions to set up everything you need to use this template.
</div>

<Instructions></Instructions>

